<div class="main">
    <div class="box">
        <h1 class="display-1">Hit Recipes</h1>
        <form method="POST" action="/search">
            <div class="mb-3">
                <input placeholder="Search Food Recipe" type="text" class="form-control" name="query" id="query" aria-describedby="query">
            </div>
            <button type="submit" class="btn btn-info">Search</button>
        </form>
    </div>
</div>